[submodule "corev_apu/axi_mem_if"]
	path = corev_apu/axi_mem_if
	url = https://github.com/pulp-platform/axi_mem_if.git
[submodule "corev_apu/register_interface"]
	path = corev_apu/register_interface
	url = https://github.com/pulp-platform/register_interface.git
[submodule "corev_apu/fpga/src/apb_uart"]
	path = corev_apu/fpga/src/apb_uart
	url = https://github.com/pulp-platform/apb_uart.git
[submodule "corev_apu/fpga/src/apb_node"]
	path = corev_apu/fpga/src/apb_node
	url = https://github.com/pulp-platform/apb_node.git
[submodule "corev_apu/fpga/src/axi2apb"]
	path = corev_apu/fpga/src/axi2apb
	url = https://github.com/pulp-platform/axi2apb.git
[submodule "corev_apu/fpga/src/axi_slice"]
	path = corev_apu/fpga/src/axi_slice
	url = https://github.com/pulp-platform/axi_slice.git
[submodule "corev_apu/fpga/src/ariane-ethernet"]
	path = corev_apu/fpga/src/ariane-ethernet
	url = https://github.com/lowRISC/ariane-ethernet.git
[submodule "corev_apu/riscv-dbg"]
	path = corev_apu/riscv-dbg
	url = https://github.com/pulp-platform/riscv-dbg.git
[submodule "corev_apu/rv_plic"]
	path = corev_apu/rv_plic
	url = https://github.com/pulp-platform/rv_plic.git
[submodule "corev_apu/fpga/src/apb_timer"]
	path = corev_apu/fpga/src/apb_timer
	url = https://github.com/pulp-platform/apb_timer.git
[submodule "corev_apu/tb/common_verification"]
	path = corev_apu/tb/common_verification
	url = https://github.com/pulp-platform/common_verification.git
[submodule "verif/core-v-verif"]
	path = verif/core-v-verif
	url = https://github.com/etcimon/core-v-verif.git
	branch = g6lc
[submodule "core/cvfpu"]
	path = core/cvfpu
	url = https://github.com/openhwgroup/cvfpu.git
[submodule "core/cache_subsystem/hpdcache"]
	path = core/cache_subsystem/hpdcache
	url = https://github.com/etcimon/cv-hpdcache.git
	branch = g6lc
[submodule "verif/sim/dv"]
	path = verif/sim/dv
	url = https://github.com/etcimon/riscv-dv.git
	branch = g6lc
[submodule "docs/06_cv32a65x_riscv/riscv-isa-manual"]
	path = docs/riscv-isa/riscv-isa-manual
	url = https://github.com/riscv/riscv-isa-manual.git
[submodule "corev_apu/fpga/src/apb"]
	path = corev_apu/fpga/src/apb
	url = https://github.com/pulp-platform/apb.git
[submodule "corev_apu/fpga/src/gpio"]
	path = corev_apu/fpga/src/gpio
	url = https://github.com/pulp-platform/gpio.git
[submodule "vendor/ara/upstream"]
	path = vendor/ara/upstream
	url = https://github.com/pulp-platform/ara.git
[submodule "g6lc_qemu/linux-dist/openwrt"]
	path = g6lc_qemu/linux-dist/openwrt
	url = https://github.com/etcimon/openwrt.git
	branch = openwrt-24.10
[submodule "g6lc_qemu/linux-dist/openwrt-packages"]
	path = g6lc_qemu/linux-dist/openwrt-packages
	url = https://github.com/etcimon/openwrt-packages.git
	branch = openwrt-24.10
[submodule "g6lc_qemu/linux-dist/openwrt-luci"]
	path = g6lc_qemu/linux-dist/openwrt-luci
	url = https://github.com/etcimon/openwrt-luci.git
	branch = openwrt-24.10
[submodule "g6lc_qemu/linux-dist/openwrt-routing"]
	path = g6lc_qemu/linux-dist/openwrt-routing
	url = https://github.com/etcimon/openwrt-routing.git
	branch = openwrt-24.10
[submodule "g6lc_qemu/linux-dist/openwrt-telephony"]
	path = g6lc_qemu/linux-dist/openwrt-telephony
	url = https://github.com/etcimon/openwrt-telephony.git
	branch = openwrt-24.10
[submodule "g6lc_qemu/linux-dist/edk2"]
	path = g6lc_qemu/linux-dist/edk2
	url = https://github.com/etcimon/edk2.git
	branch = master
[submodule "vendor/litex/litedram"]
	path = vendor/litex/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "g6lc_bios/kernel-spec/goosie"]
	path = g6lc_bios/kernel-spec/goosie
	url = https://github.com/vyquocvu/goosie.git
[submodule "g6lc_bios/kernel-spec/goja"]
	path = g6lc_bios/kernel-spec/goja
	url = https://github.com/dop251/goja.git
[submodule "g6lc_bios/kernel-spec/lirx-dom"]
	path = g6lc_bios/kernel-spec/lirx-dom
	url = https://github.com/lirx-js/dom.git
[submodule "g6lc_bios/kernel-spec/TempleOS"]
	path = g6lc_bios/kernel-spec/TempleOS
	url = https://github.com/cia-foundation/TempleOS.git
[submodule "g6lc_bios/libwasm"]
	path = g6lc_bios/libwasm
	url = https://github.com/etcimon/libwasm.git
	branch = g6lc_bios
[submodule "g6lc_bios/svelte-d"]
	path = g6lc_bios/svelte-d
	url = https://github.com/etcimon/svelte-d.git
	branch = g6lc_bios
[submodule "sv-timing/crates/sv-parser"]
	path = sv-timing/crates/sv-parser
	url = https://github.com/etcimon/sv-parser.git
	branch = g6lc
[submodule "g6lc_bios/pglite"]
	path = g6lc_bios/pglite
	url = https://github.com/etcimon/pglite.git
	branch = main
